<html>
<head>
    <title>Email Confirmed</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
          integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">

</head>

<body>
<div class="alert alert-info">
<h1 align="center" style = "font-size: 20px;">Activation Email sent</h1>
</div>
<p align="center" style="font-size: 20px;">An Activation link has been sent to your Email Address, verify Account by clicking that link </p>
</body>
</html>