{% extends 'base.html' %}

{% block body%}


<p align="center" style=" font-size:24px;"> Home page</p>
<h2 align="center" style="color: green">Welcome {{user}}!</h2>

<h4>About</h4>
<p>

    Tankhill Hostel SACCO system is a web application that allows users to Login, Sign up and be verified using Email
    Confirmation after
    registration, Update User settings, Change Password from old to new, Reset Password using an Email address and
    finally Delete Account


</p>

<p> Using links on the navigation bar, try out the functionalities of this web application</p>
{% endblock %}