{% extends 'base.html' %}


{% block head %}
<title> login Page</title>
{% endblock %}

{% block login %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">TankHill Sacco</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Log In
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/accounts/password_reset">Reset Password</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/accounts/register">Register</a>
                </li>

            </ul>

        </div>
    </div>
</nav>


{% endblock %}


{% block body%}
<div class="container" style="border-radius: 10px; background-color: #E7EAED; padding: 20px;">
    <h3 align="center">LOG IN</h3>
    <p align="center">You are can login here</p>

    <form style="border-radius: 20px; background-color: #F7F7F7; form: 5cm; padding: 20px; margin: 20px;" align="center"
          class="form-signin" method="post">

        {% csrf_token %}

        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}

            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}


        <button type="submit" class="btn btn-success">Log In</button>
        <p class="mt-5 mb-3 text-muted">© Patrick Okello</p>
    </form>

</div>

{% endblock %}
